<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div>
  <h3>Start routes</h3>
  <ul>
    {% for route in start_routes %}<li>x:{{ route.x }}, y:{{ route.y }}
      <ul>{% for r in route.routes %}<li>{{ r }}</li>{% endfor %}</ul>
    </li>{% endfor %}
  </ul>
</div>
<form method="post" enctype="multipart/form-data">{% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Save">
</form>
</body>
</html>